.newCar {
  /*flex: 4;*/
  display: flex;
  justify-content: space-evenly;
  /*margin-left: 100px;*/
}

.addCarForm {
  margin-top: 10px;
}

.addCarItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addCarItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addCarItem > input {
  padding: 10px;
}

.addCarButton {
  margin-top: 10px;
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
  background-color: teal;
  color: white;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
}

.previewDiv{
  margin-top: 100px;
  height: 500px;
  width: 25%;
  border-radius: 5px;
  border: 1px solid teal;
}

.previewDiv img{
  height: 500px;
  width: 100%;
  object-fit: cover;
}

a {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
  color: black;
}