.newCar {
  flex: 4;
  margin-left: 100px;
}

.addCarForm {
  margin-top: 10px;
}

.addCarItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addCarItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addCarItem > input {
  padding: 10px;
}

.addCarButton {
  margin-top: 10px;
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
